.form-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    border: none;
    outline: none;
    margin: unset;
    padding: unset;
    background-color: white;
    padding: 1.25rem 1.125rem;
    margin-bottom: 1.875rem;
    border-radius: 0.5rem;
}

.form-card .card-head,
.form-card .card-body {
    padding: unset;
}

.form-separator {
    width: 100%;
    height: 1px;
    background-color: var(--color_point);
}

.form-section-title-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.form-section-title {
    display: block;
    font-size: 1.25rem;
    font-weight: bolder;
    color: var(--color_point);
}

/* 폼 네임(label)과 입력창(input)을 묶은 item을 세로로 정렬한 항목들 리스트 */
.form-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 60rem;
    width: 100%;
    gap: 0.625rem;
}

/* 폼 네임(label)과 입력창(input)을 묶은 item -> 기본적인 스타일 반응형에 따라 세로배치 가능 */
.form-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.625rem;
}

/* 절대적으로 가로배치해야하는 스타일의 폼 네임(label)과 입력창(input)을 묶은 item */
.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.625rem 1rem;
}

.form-row.wrap {
    flex-wrap: wrap;
}

.form-row.v-top {
    flex-direction: row;
    align-items: flex-start;
}

/* 절대적으로 세로배치해야하는 스타일의 폼 네임(label)과 입력창(input)을 묶은 item */
.form-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.625rem;
}

/* 수직제어(row일때 사용가능) */
.form-item.v-top {
    flex-direction: row;
    align-items: flex-start;
}

.form-item.v-right {
    flex-direction: row;
    justify-content: flex-end;
}

.form-item.v-bottom {
    flex-direction: row;
    align-items: flex-end;
}

.form-item.v-left {
    flex-direction: row;
    justify-content: flex-start;
}

.form-item.v-center {
    flex-direction: row;
    align-items: center;
}

.form-item.v-around {
    flex-direction: row;
    justify-content: space-around;
}

.form-item.v-between {
    flex-direction: row;
    justify-content: space-between;
}

.form-item.v-evenly {
    flex-direction: row;
    justify-content: space-evenly;
}

/* 수평제어(column일때 사용가능) */
.form-item.h-top {
    flex-direction: column;
    justify-content: flex-start;
}

.form-item.h-right {
    flex-direction: column;
    align-items: flex-end;
}

.form-item.h-bottom {
    flex-direction: column;
    justify-content: flex-end;
}

.form-item.h-left {
    flex-direction: column;
    align-items: flex-start;
}

.form-item.h-center {
    flex-direction: column;
    align-items: center;
}

/* 전천후 폼버튼 */

.form-button {
    display: inline-block;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: var(--color_point_sub);
    color: var(--color_point);
    border: var(--border_point_1);
    border-radius: 0.5rem;
}

.form-label {
    display: inline-block;
    max-width: 6rem;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 500;
    word-break: keep-all;
}

.form-label.point {
    color: var(--color_point);
    font-weight: bolder;
}

.form-value {
    position: relative;
    width: 100%;
    padding: 0.625rem;
    line-height: 1.5;
    border: var(--border_grey_1);
    border-radius: 0.5rem;
}

.data-unit-wrap {
    position: relative;
    padding-right: 2.5rem;
    border: var(--border_grey_1);
    border-radius: 0.5rem;
}

.data-unit-wrap input {
    border: none;
}

.data-unit-wrap .data-unit {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.data-unit-wrap.disabled {
    background-color: var(--color_board);
}

.fake-input::after {
    content: attr(data-unit);
    position: absolute;
    right: 1rem;
}

/* 폼 셀렉트 */

.form-select {
    width: 100%;
    color: black;
    background-color: white;
    padding: 0.625rem;
    padding-right: 2rem;
    line-height: 1.5;
    border: var(--border_grey_1);
    border-radius: 0.5rem;
}

/* 주소 입력 창 세트 */

.form-postcode {
    flex: 1;
}

.form-button__postcode {
    display: inline-block;
    font-weight: bolder;
    padding: 0.625rem;
    background-color: white;
    color: var(--color_point_light);
    border: var(--border_point_light_1);
    border-radius: 0.5rem;
}

.form-button__maps {
    display: inline-block;
    font-weight: bolder;
    width: 120px;
    padding: 0.625rem;
    background-color: white;
    color: var(--color_point_light);
    border: var(--border_point_light_1);
    border-radius: 0.5rem;
}

.form-value.disabled {
    background-color: var(--color_board);
    color: var(--color_grey);
}

/* 폼 이미지 */

.form-image {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.form-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

/* 폼 날짜 */

.form-date {
    width: 100%;
}

/* 필수 입력값 */

.essential {
    position: relative;
}

.essential::after {
    content: '*';
    position: absolute;
    top: 0;
    color: var(--color_danger);
    font-size: 1.5em;
}

@media all and (min-width: 320px) {}

@media all and (min-width: 400px) {}

@media all and (min-width: 480px) {
    .form-box {
        max-width: 100%;
    }

    .form-date {
        max-width: 18.75rem;
    }
}

@media all and (min-width: 576px) {}

@media all and (min-width: 600px) {
    .form-card {}

    .form-list {
        gap: 1rem;
    }

    .form-item {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.625rem 1rem;
    }

    .form-item.wrap {
        flex-wrap: wrap;
    }

    .form-label {
        max-width: 9.375rem;
        width: 100%;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
}

@media all and (min-width: 640px) {}

@media all and (min-width: 768px) {
    .form-list {
        max-width: 60rem;
        width: 100%;
    }
}

@media all and (min-width: 840px) {}

@media all and (min-width: 960px) {}

@media all and (min-width: 992px) {}

@media all and (min-width: 1024px) {
    /* .form-list,
    .form-row,
    .form-column {
        gap: 1.25rem;
    } */
}

@media all and (min-width: 1100px) {}

@media all and (min-width: 1140px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1280px) {
    .form-card {
        padding: 1.875rem 3.125rem;
    }

    .form-label {
        max-width: 11.25rem;
        width: 100%;
    }
}

@media all and (min-width: 1368px) {}

@media all and (min-width: 1440px) {}

@media all and (min-width: 1560px) {}

@media all and (min-width: 1600px) {}

@media all and (min-width: 1920px) {}

@media all and (min-width: 2560px) {}